# stage2 view和time同时训练 只放开这两类层的参数
data:
  train_bs: 1
  train_width: 512 
  train_height: 512 
  meta_paths: # 要改
    - "data/thuman2_ortho_6_meta.json"
    - "data/customhumans_ortho_6_meta.json"
    # - "data/thuman2_ortho_6_meta.json"
    # - "data/customhumans_ortho_6_meta.json"
  n_sample_frames: 20 # 20 要改
  # n_sample_frames: 8 # 20 要改 ##debug

solver:
  gradient_accumulation_steps: 1
  mixed_precision: 'fp16' # fp16 # ['no' 'fp8' 'fp16' 'bf16']
  enable_xformers_memory_efficient_attention: True 
  gradient_checkpointing: True 
  max_train_steps: 100000
  max_grad_norm: 1.0
  # lr
  learning_rate: 1e-5
  scale_lr: False 
  lr_warmup_steps: 1
  lr_scheduler: 'constant'

  # optimizer
  use_8bit_adam: True 
  adam_beta1: 0.9
  adam_beta2: 0.999
  adam_weight_decay:  1.0e-2
  adam_epsilon: 1.0e-8

val:
  validation_steps: 2000 # 1000


noise_scheduler_kwargs:
  num_train_timesteps: 1000
  beta_start:          0.00085
  beta_end:            0.012
  beta_schedule:       "linear"
  steps_offset:        1
  clip_sample:         false

base_model_path: './pretrained_weights/CosmicMan-SD'
vae_model_path: './pretrained_weights/sd-vae-ft-mse'
image_encoder_path: './pretrained_weights/sd-image-variations-diffusers/image_encoder'
mm_path: './pretrained_weights/mm_sd_v15_v2.ckpt'

weight_dtype: fp16 # 'fp16'  # [fp16, fp32]
uncond_ratio: 0.1
noise_offset: 0.05
snr_gamma: 5.0
enable_zero_snr: True 

## 下面是新增的参数
stage1_ckpt_dir: '/apdcephfs_cq10/share_1330077/hexu/NVS/nvs_dual_branch/stage1' # ！！！要改
stage1_ckpt_step: 40925

drop_smplx_ratio: 0.3 # 训练时drop掉smplx的比例 wo clip的时候是0.3 之前是0.4
unet_attention_mode: "read_concat_attn"  # ["read_concat_attn", "read_cross_attn"] 改
use_clip_cross_attention: false
camera_use_radius: false # 如果为true，则camera_dim=16 R+T; 如果为false，则camera_dim=9 只用R矩阵

use_semantic_guider: True # rgb用semantic
use_normal_guider: True # normal用normal
use_depth_guider: False # 暂时不用depth

pose_guider_kwargs:
  conditioning_embedding_channels: 320
  conditioning_channels: 3
  block_out_channels: [16, 32, 96, 256]
  use_guidance_attention: False # 是否加上attention（实际上加了一个transformer3D attn0和attn1）改
  attention_num_heads: 8

unet_additional_kwargs:
  use_motion_module: true
  unet_use_temporal_attention: false
  use_camera_embedding: true
  camera_dim: 9
  # v5 
  down_block_attention_indices: [[0,36,324],[0,54,306],[0,72,288],[]] # down的最后一个block没有transformer 改
  mid_block_attention_index: [0,90,270] # 改
  up_block_attention_indices: [[],[0,72,288],[0,54,306],[0,36,324]] # 改


  # 下面是branch新增的参数
  branch_num: 1
  copy_first_n_block: 1
  copy_last_n_block: 1
  fusion: "avg" # ["avg", "learn", "sum"]

  # 下面是animate-anyone原本的
  use_inflated_groupnorm: true
  unet_use_cross_frame_attention: false # 默认是None 其实没用到
  motion_module_resolutions: # 指的是下采样几倍的block要用motion module
  - 1
  - 2
  - 4
  - 8
  motion_module_mid_block: true 
  motion_module_decoder_only: false
  motion_module_type: Vanilla
  motion_module_kwargs:
    num_attention_heads: 8
    num_transformer_block: 1
    attention_block_types:
    - Temporal_Self
    - Temporal_Self
    temporal_position_encoding: true
    # temporal_position_encoding_max_len: 8 # pos_enc的长度 代码中会用n_sample_frames更新！
    temporal_position_encoding_type: RPE # [Vanilla, RPE, RoPE]
    temporal_attention_dim_div: 1

seed: 224116
resume_from_checkpoint: ''
checkpointing_steps: 2000
save_model_epoch_interval: 5 # 300ier = 1epoch
# exp_name: 'stage2_30frame_vpe'
# exp_name: 'step2_136_sample_view+time' # 要改
exp_name: 'step2_union_release' # 要改
output_dir: '/apdcephfs_cq10/share_1330077/hexu/NVS/nvs_dual_branch'